<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
              <span class="material-icons" style="color: #4e578c;font-size: 5rem;">
      task
    </span>
      </div>
    </div>
    <p>Would you like to apply for more jobs or take a look at your existing applications?</p>

    <button type="submit" class="btn btn-outline-primary btn-block ork-add-btn mb-4 mt-2 mx-2 float-end"
            (click)="viewApplications()">
      View applications
    </button>

    <button type="submit" class="btn btn-outline-primary btn-block ork-fill-btn mb-4 mt-2 float-end"
    (click)="applyJobs()">
      Continue
    </button>


  </div>
</div>
