<div class="row ps-4">
  <div class="col-md-6 shadow-lg">
    <p class="d-flex justify-content-center shadow-lg ork-text">Admin Work Flow</p>
    <mat-stepper orientation="vertical">
      <div *ngFor="let step of adminSteps">
        <mat-step [label]="step">
        </mat-step>
      </div>
    </mat-stepper>
  </div>
  <div class="col-md-6 shadow-lg">
    <p class="d-flex justify-content-center shadow-lg ork-text">Recruiter Work Flow</p>
    <mat-stepper orientation="vertical">
      <div *ngFor="let step of recruiterSteps">
        <mat-step [label]="step">
        </mat-step>
      </div>
    </mat-stepper>
  </div>
</div>
