<!-- Section: Design Block -->
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start ork-bg">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
<!--          <img src="orkicon.png">-->
          <h1 class="my-5 display-3 fw-bold ls-tight">
            ORK <br />
            <span class="text-primary ork-text">for YOU</span>
          </h1>
          <p class="ork-description">
            Within ORK, connections are forged, and futures are shaped, offering a seamless passage from ambition to achievement.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <h1>{{'Login @ORK'}}</h1>
              <form (ngSubmit)="submit()" [formGroup]="form">
                <div class="form-outline mb-4">
                  <input type="text" id="username" class="form-control" formControlName="username"/>
                  <label class="form-label" for="username">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control" formControlName="password" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <button type="submit" class="btn btn-outline-primary ork-add-btn btn-block mb-4 float-end">
                  Log in
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

<!-- Section: Design Block -->
