<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
              <span class="material-icons" style="color: #4e578c;font-size: 5rem;">
              logout
    </span>

      </div>

      <div class="col-12 d-flex justify-content-center">
        <p> Session timed out. You will be redirected to Login page. </p>
      </div>

    </div>

    <button type="submit" class="btn btn-outline-primary btn-block ork-add-btn mb-4 mt-2 mx-2 float-end"
            (click)="redirect()">
      Ok
    </button>
  </div>
</div>
