<div class="modal-header">
  <div class="row">
    <div class="col-9 float-left">
      <h6 class="modal-title">Add Sector</h6>
    </div>
    <div class="col-3 d-flex justify-content-end">
      <button mat-mini-fab aria-label="Close" class="float-right" (click)="activeModal.dismiss()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

</div>
<div class="modal-body">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-outline mb-4">
      <input type="text" id="name" class="form-control" formControlName="name" required/>
      <label class="form-label" for="name">Name</label>
    </div>
    <div class="form-outline mb-4">
      <input type="file" id="file" class="form-control" formControlName="orkFile" required (change)="handleEventChange($event)"/>
      <label class="form-label" for="file">Image</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="activeModal.dismiss()">Close</button>
  <button type="button" class="btn btn-primary ork-fill-btn" (click)="submit()">Save changes</button>
</div>
